{% extends 'content/base.html' %}
{% block content %}

{% load static %}

<section class="contact">
    <div class="contact-us">
        <h1>Contact Us</h1>
        <h3>At Vhashashe, we value your inquiries and feedback. Whether you're a potential client, a supplier, or simply interested in learning more about our services, we're here to assist you.</h3>
        <br>
        <br>
        
        <h2>Get in Touch</h2>
        <h3>Address:</h3>
        <p>171 Tshimbupfe,<br>Vuwani, Limpopo, 0983, <br>South Africa</p>

        <br>
        <br>

        <h3>Phone:</h3>
        <p><b>Mobile:</b> 072 237 7288 | 083 636 1581</p>

        <br>
        <br>

        <h3>Email:</h3>
        <p>info@vhashashe.com</p>

        

    </div>
</section>

{% endblock content %}