{% extends 'content/base.html' %}
{% block content %}

{% load static %}

<!-- Services -->
 <section class="services">
    <div class="services-info">
        <h1>Services</h1>
        <br>
        <h3>Welcome to Vhashashe's Services page, where we showcase our diverse range of offerings in the fields of energy, environmental management, and engineering solutions. Explore our comprehensive services below:</h3>
        <ol>
            <li><h3>Petroleum Solutions:</h3>
                <br>
                <ul>
                    <li><p><b>Aviation Gasoline:</b> High-grade fuel for smooth aircraft operation.</p></li>
                    <li><p><b>Biofuels:</b> Sustainable and eco-friendly fuel options.</p></li>
                    <li><p><b>Diesel:</b> Reliable energy source for various applications.</p></li>
                    <li><p><b>Jet Fuel:</b> Meeting stringent aviation standards for safety and efficiency.</p></li>
                    <li><p><b>Liquefied Petroleum Gas (LPG):</b> Versatile and clean-burning energy solutions.</p></li>
                    <li><p><b>Paraffin:</b> Reliable heating solution for homes.</p></li>
                    <li><p><b>Petrol:</b> High-quality gasoline for optimal engine performance.</p></li>
                    <li><p><b>Comprehensive Equipment Services:</b> Diverse range of equipment supplies for engineering, construction, and mining industries.</p></li>
                </ul>
            </li>
            <li><h3>Environmental Management:</h3>
                <br>
                <ul>
                    <li><p><b>Water Use License Compliance Audits:</b> Ensuring compliance with water regulations.</p></li>
                    <li><p><b>Road Rehabilitation:</b> Restoring and enhancing road infrastructure.</p></li>
                    <li><p><b>Vegetation Cleanup:</b> Clearing and maintaining natural landscapes.</p></li>
                    <li><p><b>Stormwater Infrastructure Maintenance:</b> Managing stormwater systems for sustainability.</p></li>
                    <li><p><b>Rehabilitation Seeding:</b> Restoring vegetation in degraded areas.</p></li>
                    <li><p><b>Relocation of Graves:</b> Handling sensitive and respectful grave relocation projects.</p></li>
                    <li><p><b>Comprehensive Environmental Management Services:</b> Handling projects related to environmental management, ensuring compliance with laws and regulations, and helping clients evaluate and reduce environmental and social impacts./p></li>
                    <!-- <li><p><b>Comprehensive Equipment Services:</b></p></li> -->
                </ul>
            </li>
            <li><h3>Engineering Solutions:</h3>
                <br>
                <ul>
                    <li><p><b>Infrastructure Development:</b> Planning and construction of essential infrastructure.</p></li>
                    <li><p><b>Project Management:</b> Overseeing projects from conception to completion.</p></li>
                    <li><p><b>Road Construction:</b> Building and maintaining roads for transportation networks.</p></li>
                    <li><p><b>Mining Engineering:</b> Providing engineering solutions tailored to the mining industry.
                    </p></li>
                    <li><p><b>Engineering Consultancy:</b> Offering expert advice and guidance on engineering projects.</p></li>
                    <li><p><b>Engineering Design:</b> Creating innovative and sustainable designs for various projects.</p></li>
                    <li><p><b>Engineering Project Portfolio:</b> Showcasing successful engineering projects completed by Vhashashe.</p></li>
                    <br>
                    <p><b>Explore each of our services to learn more about how Vhashashe can meet your specific needs and contribute to the success of your projects.</b></p>
                </ul>
            </li>
        </ol>
    </div>
 </section>


{% endblock content %}